.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.header{
    background-color:bisque;
    /* align-items: center; */
    /* margin: 0 200px; */
    /* border-radius: 10px; */
    text-align: center;
}

/* nav styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px 0 250px;
}

nav img{
    width: 50px;
    height: 50px;
}
.title{
    font-weight: 800;
    color: blueviolet;
    border: 2px solid blueviolet;
    border-radius: 5px;
}

.nil{
    color: rgb(47, 24, 216);
}
nav ul{
    display: flex;
}
ul li{
    list-style: none;
    margin-right: 30px;
}
nav li a{
    text-decoration: none;
    font-weight: 500;
    color: #474747;
}
.banner{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    margin: 0 100px 0 220px;
}
.banner img{
    width: 200px;
    height: 200px;
    border: 2px;
    border-radius: 10px;
}
.banner h5{
    color: dimgray;
}
.button{
    background-color: #FD6E0A;
    padding: 5px 10px;
    color: white;
}
.para{
    color: rgb(47, 45, 45);
}
/* section styles */
.section{
    text-align: center;
    margin:50px 200px;
    padding: 10px 50px ;
}
.contant{
    font-size: smaller;
}
.about-items{
    display: flex;
    gap: 20px;
    font-size: x-small;
    
}
.about-item .email{
    color:darkgray;
}
.about-item .name{
    color: darkslategrey;
    /* font-size:small; */
}
.section img{
    height: 3 0px;
    width: 30px;
    margin:5px 800px 0px 10px;
}
.section-card{
    text-align: center;
    align-items: center;
    margin: 0 100px;
}
.Fcard{
    display: flex;
    gap: 20px;;
}
.Fcard button{
    background-color: #FD6E0A;
    color: aliceblue;
    /* cursor: pointer; */
}
button :hover{
    animation: 0.5s;
}
